.han_logo {

    font-family: 'Noto Sans KR', sans-serif;

}

.han_footer_button {

    font-size: .9rem;

}

.han_footer {

    text-align: center;
    margin-top: 2rem;

}


.han_header {

    text-align: center;
    margin: 2rem 0;
}


@media screen and (max-width:500px) {
    html {
        font-size: 13px;
    }
}


a {
    color: black;
    text-decoration: none;
}


a:hover {
    color: black;
    text-decoration: none;
}

.han_header_nav {
    margin: 0 0.5rem;
}

.han_header_navbar {
    margin: 1rem 0;
}