.han_logo {

    font-family: 'Noto Sans KR', sans-serif;

}

.han_footer_button {

    font-size: .9rem;

}

.han_footer {

    text-align: center;
    margin-top: 2rem;

}


.han_header {

    text-align: center;
    margin: 2rem 0;
}


@media screen and (max-width:500px) {
    html {
        font-size: 13px;
    }
}
